@font-face {
	font-family: 'Bounded';
	src: url('/fonts/Bounded-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bounded';
	src: url('/fonts/Bounded-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}