.footer {
	background: 
	radial-gradient(
		circle at 40% 50%,
		#666666 0%,
		#666666 0%,
		transparent 40%
	),
	radial-gradient(
		circle at 80% 50%,
		transparent 20%
	),
	#000000;
	height: 120px;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.footer__content {
	display: flex;
	align-items: center;
	color: white;
}
.footer__content img {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.footer__content p {
	font-size: 24px;
	font-family: 'Bounded';
	font-weight: 200;
}