.footer {
	background: 
	radial-gradient(
		circle at 40% 50%,
		rgba(102, 102, 102, 0.5) 0%,
		rgba(102, 102, 102, 0.5) 0%,
		transparent 70%
	),
	radial-gradient(
		circle at 80% 50%,
		transparent 70%
	),
	#000000;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.footer__content {
	display: flex;
	align-items: center;
	padding: 25px;
	margin-left: auto;
	margin-right: 5%;
	color: white;
}
.footer__content img {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.footer__content p {
	font-size: 24px;
	font-family: 'Bounded';
	font-weight: 200;
}

@media(max-width:960px){
	.footer__content p {
		font-size: 20px;
		font-family: 'Bounded';
		font-weight: 200;
	}
	.footer {
		justify-content: center;
		background: 
		radial-gradient(
			circle at 40% 60%,
			rgba(102, 102, 102, 0.5) 0%,
			rgba(102, 102, 102, 0.5) 0%,
			transparent 70%
		),
		radial-gradient(
			circle at 80% 50%,
			transparent 90%
		),
		#000000;
	}
}
@media(max-width:480px){
	.footer{
		background: 
		radial-gradient(
			circle at 40% 60%,
			rgba(102, 102, 102, 0.5) 0%,
			rgba(102, 102, 102, 0.5) 0%,
			transparent 90%
			
		),
		radial-gradient(
			circle at 80% 50%,
			transparent 90%
		),
		#000000;
	}
	
	.footer__content p {
		font-size: 12px;
		font-family: 'Bounded';
		font-weight: 200;
	}
}