.header {
	background: 
	radial-gradient(
		circle at 40% 50%,
		rgba(102, 102, 102, 0.3) 0%,
		rgba(102, 102, 102, 0.3) 0%,
		transparent 70%
	),
	radial-gradient(
		circle at 80% 50%,
		transparent 70%
	),
	 rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	margin: 0;
	padding: 0 2rem;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	backdrop-filter: blur(15px);
	z-index: 1000;
}
.header__content {
	display: flex;
	align-items: center;
}
.header__nav ul{
	display: flex;
	column-gap: 65px;
	align-items: center;
	margin: 0;
	padding: 0;
}
.header__nav li {
	list-style: none;
}
.header__nav a {
	color: white;
	text-decoration: none;
	font-family: 'Bounded', sans-serif;
	font-weight: 200;
	transition: all 0.3s ease;
}
.header__nav a:hover {
	text-shadow: 
	0 0 1px white,
	0 0 1px white,
	0 0 1px white,
	0 0 1px white,
	0 0 1px white,
	0 0 2px white;
	transform: translateY(-1px);
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 1001;
}

.burgerIcon {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
	display: block;
}
.burger:hover .burgerIcon {
	transform: scale(1.1);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 998;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease, visibility 0.4s ease;
}
.overlay.active {
	opacity: 1;
	visibility: visible;
}
@media (max-width: 960px) {
	.burger {
		display: block;
		position: absolute;
		right: 2rem;
	}
	.header {
		justify-content: center;
		background: 
		radial-gradient(
			circle at 40% 60%,
			rgba(102, 102, 102, 0.3) 0%,
			rgba(102, 102, 102, 0.3) 0%,
			transparent 70%
		),
		radial-gradient(
			circle at 80% 50%,
			transparent 70%
		),
		rgba(0, 0, 0, 0.7);
	}
	.header__nav {
		position: fixed;
		top: 120px;
		right: -100%;
		width: 100%;
		height: calc(100vh - 120px);
		background: white;
		backdrop-filter: blur(20px);
		transition: right 0.3s ease;
		z-index: 999;
		padding: 2rem;
	}

	.navOpen {
		right: 0;
	}

	.header__nav ul {
		flex-direction: column;
		gap: 2rem;
		align-items: flex-start;
	}

	.header__nav a {
		font-size: 1.2rem;
		display: block;
		width: 100%;
		padding: 0.5rem 0;
		color: black;
	}

}

@media(max-width: 480px){
	.header{
		background: 
		radial-gradient(
			circle at 40% 60%,
			rgba(102, 102, 102, 0.3) 0%,
			rgba(102, 102, 102, 0.3) 0%,
			transparent 70%
		),
		radial-gradient(
			circle at 80% 50%,
			transparent 70%
		),
		rgba(0, 0, 0, 0.7);
	}
	
}