.container {
    position: relative;
    background-color: black;
    max-width: 1920px;
    margin: 0 auto;
    max-width: 100%;
	min-height: 200vh;
	overflow: hidden;
}
.backgroundImage {
    width: 100%;
    height: auto;
    z-index: -1;
    margin-top: -20px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: block;
	min-height: 900px;
	object-fit: cover;
}
.backgroundImage_2 {
    width: 100%;
    height: auto;
    z-index: -2;
    margin-top: 50px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: block;
	min-height: 1000px;
	object-fit: cover;
}
@media (max-width: 1300px) {
    .backgroundImage {
		margin-top: 20px;
        min-height: 800px;
    }
    .backgroundImage_2 {
        min-height: 900px;
    }
}

@media (max-width: 960px) {
    .backgroundImage {
		margin-top: 40px;
        min-height: 700px;
    }
    .backgroundImage_2 {
        min-height: 800px;
        margin-top: 30px;
    }
}

@media (max-width: 760px) {
    .backgroundImage {
        min-height: 600px;
        margin-top: 50px;
    }
    .backgroundImage_2 {
        min-height: 700px;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .backgroundImage {
        min-height: 500px;
    }
    .backgroundImage_2 {
        min-height: 600px;
    }
}

@media (max-width: 480px) {
    .backgroundImage {
        min-height: 450px;
    }
    .backgroundImage_2 {
        min-height: 500px;
        margin-top: 15px;
    }
}

@media (max-width: 390px) {
    .backgroundImage {
        min-height: 400px;
    }
    .backgroundImage_2 {
        min-height: 450px;
    }
}
