.content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    z-index: 2;
    padding-top: 140px;
    margin-top: 476px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}
.left_column {
    display: flex;
    flex-direction: column;
}
.right_column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin-right: 100px;
    margin-top: -230px;
}
.content h1 {
    color: white;
    font-family: 'Widock', sans-serif;
    font-weight: bold;
    font-size: 64px;
}
.logo {
	display: flex;
	flex-direction: column;
    padding-bottom: 75px;
}
.title {
    color: white;
    font-family: 'Bounded', sans-serif;
    font-weight: 200;
    font-size: 32px;
    padding-bottom: 75px;
}
.text {
    color: white;
    font-family: 'Bounded', sans-serif;
    font-weight: 200;
    font-size: 24px;
}
.mobileText {
    display: none;
}
@media (max-width: 1300px) {
    .content {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 300px;
    }
    .content h1 {
        font-size: 50px;
    }
    .logo {
        margin-top: 30px;
        max-width: 360px;
        max-height: 280px;
    }
    .text {
        font-size: 20px;
    }
    .title {
        font-size: 24px;
        padding-bottom: 57px;
    }
    .right_column {
        margin-right: 60px;
    }
}
@media (max-width: 1100px) {
    .content {
        padding-left: 40px;
        padding-right: 40px;
    }
    .right_column {
        margin-right: 40px;
    }
}
@media (max-width: 960px) {
    .mobileText {
        display: block;
        order: 3;
        margin-top: 40px;
    }
    .desktopText {
        display: none;
    }
    .content {
		display: flex;
		justify-content: space-between;
        margin-top: 130px;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
		box-sizing: border-box;
    }
    .left_column {
        display: flex;
        flex-direction: column;
		flex: 1;
    }
    .left_column .title {
        order: 2;
        padding-bottom: 10px;
        font-family: 'Widock', sans-serif;
        font-size: 24px;
        font-weight: 700;
    }
    .left_column h1 {
        order: 1;
        padding-bottom: 57px;
        font-size: 36px;
    }
    .left_column .mobileText {
        order: 3;
    }
    .right_column {
        order: 2;
        margin-right: 0;
        margin-top: 50px;
        align-items: flex-end;
		flex: 0 0 auto;
    }
    .content h1 {
        font-size: 42px;
    }
    .title {
        font-size: 22px;
    }
    .text {
        font-size: 18px;
    }
    .logo {
        padding-bottom: 40px;
        max-width: 390px;
        margin-top: 0;
    }
}
@media (max-width: 900px) {
	.content{
		padding-left: 50px; 
		padding-right: 50px; 
	}
    .left_column .title {
        padding-bottom: 0px;
        font-size: 20px;
    }
    .left_column h1 {
        padding-bottom: 30px;
        font-size: 36px;
    }
    .content h1 {
        font-size: 36px;
    }
    .title {
        font-size: 20px;
    }
    .text {
        font-size: 16px;
    }
    .logo {
        max-width: 300px;
    }
}
@media (max-width: 760px) {
	.content{
		padding-left: 50px; 
		padding-right: 50px; 
	}
    .left_column .title {
        font-size: 16px;
    }
    .left_column h1 {
        padding-bottom: 30px;
        font-size: 30px;
    }
    .right_column {
        margin-right: 50px;
    }
    .content h1 {
        font-size: 30px;
    }
    .text {
        font-size: 16px;
    }
    .logo {
        padding-bottom: 0px;
        max-width: 240px;
    }
}
@media (max-width: 600px) {
    .content {	
		padding-left: 50px; 
		padding-right: 50px; 
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
        margin-top: 130px;
        padding-top: 60px;
    }
    .left_column .title {
		display: flex;
        font-size: 14px;
    }
    .left_column h1 {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .right_column {
		display: flex;	
        margin-right: 30px;
        margin-top: 30px;
    }
    .content h1 {
        font-size: 24px;
    }
    .text {
        font-size: 14px;
    }
    .logo {
        max-width: 200px;
    }
    .mobileText {
        margin-top: 30px;
    }
}
@media (max-width: 500px) {
    .content {	
		padding-left: 50px; 
		padding-right: 50px; 
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
        margin-top: 130px;
        padding-top: 60px;
    }
    .left_column .title {
		display: flex;
        font-size: 14px;
    }
    .left_column h1 {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .right_column {
		display: flex;
        margin-right: 30px;
        margin-top: 30px;
    }
    .content h1 {
        font-size: 24px;
    }
    .text {
        font-size: 14px;
    }
    .logo {
        max-width: 150px;
    }
    .mobileText {
        margin-top: 30px;
    }
}
@media (max-width: 480px) {
    .content {
		padding-left: 20px; 
		padding-right: 20px; 
        margin-top: 150px;
        padding-top: 40px;
    }
	.backgroundImage {
		min-height: 800px;
	}
    .left_column .title {
        font-size: 12px;
    }
    .left_column h1 {
        padding-bottom: 15px;
        font-size: 20px;
    }
    .right_column {
        margin-right: 0;
        margin-top: 20px;
    }
    .content h1 {
        font-size: 20px;
    }
    .title {
        font-size: 12px;
    }
    .text {
        font-size: 12px;
    }
    .logo {
        padding-bottom: 20px;
        max-width: 150px;
    }
    .mobileText {
        margin-top: 20px;
        font-size: 12px;
    }
}
@media(max-width: 390px){
	.content {
        margin-top: 130px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
	.backgroundImage {
		min-height: 800px;
	}
    .left_column .title {
        font-size: 10px;
    }
    .left_column h1 {
        padding-bottom: 15px;
        font-size: 20px;
    }
    .right_column {
        margin-right: 0;
        margin-top: 20px;
    }
    .content h1 {
        font-size: 16px;
    }
    .title {
        font-size: 10px;
    }
    .text {
        font-size: 10px;
    }
    .logo {
        padding-bottom: 20px;
        max-width: 120px;
    }
    .mobileText {
        margin-top: 20px;
        font-size: 10px;
    }
}