.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	max-width: 1920px;
	overflow: hidden;
	/* фон */
	background-image: url('../img/realized_projects/background_projects.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	background-position-y: 50px;
}

.main_container {
	position: relative;          /* для фонового слоя, если нужен */
	width: 100%;
	min-height: 100vh;           /* контейнер занимает минимум экран */
	margin: 0;
	padding-bottom: 100px;
	box-sizing: border-box;

}

.card1 {
	display: flex;
	justify-content: center;
	margin-top: 220px;
}
.card2 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card3 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card4 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card5 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card6 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card7 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.card8 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.arrow {
	color: white;
	display: none;
}
.notepad_text {
	display: none;
}
@media (max-width: 960px) {
	.container {
		background-position-y: -600px;
	}
	.notepad_text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 200px;
	}
	.notepad_text p {
		font-size: 20px;
		font-family: 'Bounded';
		font-weight: 100;
	}
  .main_container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none; 
 	
    padding: 160px 0 30px;
    gap: 0;
    min-height: auto;
  }
.main_container::-webkit-scrollbar {
    display: none;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8 {
    flex: 0 0 auto;
    scroll-snap-align: center;

    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0 160px;
    box-sizing: border-box;
  }
  .arrow {
	display: flex;
	justify-content: center;
  }
}
@media (max-width: 500px) {
	.notepad_text {
		display: none;
	}
}
@media (max-width: 796px) {
	.main_container {
    gap: 24px; /* ← пространство между карточками */
    padding: 160px 24px 30px; /* ← отступы слева/справа для первого/последнего элемента */
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8 {
    padding: 0; /* убираем боковые отступы */
  }
}
